body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; /* Centraliza o texto dentro do body */
}

/* Estilo do nav */
nav {
    width: 100%;
    background-color: #222;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: green;
}

/* Estilo da imagem */
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green;
    display: block;
    margin: 20px auto;
}

/* Centraliza o título e outros elementos no header */
.center {
    text-align: center;
    margin-top: 80px;
}

h1 {
    color: green;
}

h2 {
    font-size: 1.2rem;
}

/* Container */
.container {
    padding: 0px 60px;
}

/* Estilo do conteúdo principal */
main {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centraliza o texto dentro do main */
}

h3 {
    color: green;
}

p {
    font-size: 1rem;
    color: #ddd;
}

/* Estilo do rodapé */
footer {
    margin-top: 30px;
    text-align: center;
    background-color: #222;
    padding: 20px;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}

footer strong {
    color: green;
}

footer p:hover {
    color: green;
}
